.App {
  margin: auto;
  margin-top: 3vh;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  max-width: 600px;
}
.LaunchCell {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}
.MissionName {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.LaunchDate {
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
}
.MissionCell {
  align-items: center;
  display: flex;
}
.MissionPatch {
  width: 56px;
  height: 56px;
  margin: 10px;
}
.MissionDetail {
  text-align: left;
}
.Status {
  font-size: 14px;
  font-weight: bold;
}
.Failed {
  color: red;
}
.Successful {
  color: green;
}
.Upcoming {
  color: blue;
}
.RocketCell {
  max-width: 600px;
  margin: auto;
  margin-top: 3vh;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}
.RocketName {
  font-size: 18px;
  color: black;
}
.RocketDetail {
  font-size: 14px;
  color: lightgray;
}
